@model IEnumerable<Entity.Models.Cliente>

<p>
    @Html.ActionLink("Cadastro de Cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th>Endereço</th>
    </tr>

@foreach (var item in Model) {
<tr>
  <td>
    @Html.DisplayFor(modelItem => item.Nome)
  </td>
  <td>
    @Html.DisplayFor(modelItem => item.CPF)
  </td>
  <td>
    @Html.DisplayFor(modelItem => item.DataNascimento)
  </td>
  <td>
    @Html.DisplayFor(modelItem => item.Logradouro) , @Html.DisplayFor(modelItem => item.Numero) / @Html.DisplayFor(modelItem => item.Complemento) - @Html.DisplayFor(modelItem => item.Cidade) / @Html.DisplayFor(modelItem => item.Estado) - @Html.DisplayFor(modelItem => item.CEP)
  </td>
 </tr>
}

</table>
